@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    /*width: 100%;
    height: 100%;*/
    font-family: 'Roboto', sans-serif;
}

#gameField {
    width: 500px;
    margin: 100px auto 0 auto;
    float:left;
}

#gameField table {
    margin: 0 auto;
}

#gameField tr td{
    background-color: #FFF0A5;
    width: 34px; /* 25px */
    height: 34px; /* 25px */
    border: 1px solid #B64926;
}


.UNDESTROYABLE_BLOCK{
    background-color: green !important;
}

.DESTROYABLE_BLOCK {
    background-color: brown !important;
}

.DYNAMITE {
    background-color: black !important;
}

.PORTAL {
    background-color: lightblue !important;
}


.MONSTER {
    background-color: purple !important;
}

.FIRE {
    background-color: red !important;
}

.PLAYER {
    background-color: orange !important;
}

.buttons input {
    display:block;
    margin: 10px auto 0 auto;
    padding: 10px;
    background: #468966;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

#arrows {

}

#arrows table {
    margin-left: auto;
    margin-right: auto;
    float: right;
}

#arrows input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 1em;
    background: #468966;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.emptyField {
    visibility: hidden; /* do not show empty field! */
}

