@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    /*width: 100%;
    height: 100%;*/
    font-family: 'Roboto', sans-serif;
}

#gameField {
    position: absolute;
    left: 1px;
    top: 1px;
}

#output {
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
}

#gameField table {
    margin: 0 auto;
}

#gameField tr td{
    background-color: #FFF0A5;
    height: 34px;
    width: 34px; /* 25px */
    /*height: 34px; /* 25px */
    border: 1px solid #B64926;
}

.buttons input {
    position: absolute;
    right: 1px;
    top: 1px;
    display:block;
    margin: auto;
    padding: 10px;
    background: #468966;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

#arrows table {
    position: absolute;
    right: 1px;
    bottom: 1px;
}

#arrows input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 1em;
    background: #468966;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.UNDESTROYABLE_BLOCK{
    background-color: green !important;
}

.DESTROYABLE_BLOCK {
    background-color: brown !important;
}

.DYNAMITE {
    background-color: black !important;
}

.FIRE {
    background-color: red !important;
}

.PORTAL {
    background-color: lightblue !important;
}

.MONSTER {
    background-color: purple !important;
 }

.PLAYER {
    background-color: orange !important;
}

.SPEEDBUFF {
    background-color: aqua !important;
}

#gameField tr td:hover {
    background-color: #B64926 !important;
}

#arrows {

}



.emptyField {
    visibility: hidden; /* do not show empty field! */
}

